
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    IList<ShoppingCarts.Models.RouteTest.TempProducts> productList =
        new List<ShoppingCarts.Models.RouteTest.TempProducts>();

    productList.Add(new ShoppingCarts.Models.RouteTest.TempProducts {
        ID = 1,
        Name = "自動鉛筆",
        Price = 50.0m
    });
    productList.Add(new ShoppingCarts.Models.RouteTest.TempProducts
    {
        ID = 2,
        Name = "記事本",
        Price = 50.0m
    });
    productList.Add(new ShoppingCarts.Models.RouteTest.TempProducts
    {
        ID = 3,
        Name = "橡皮擦",
        Price = 10.0m
    });
}

<h2>商品列表</h2>

<table>
    <thead>
        <tr>
            <td>編號</td>
            <td>名稱</td>
            <td>售價</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var product in productList)
        {
            <tr>
                <td>@product.ID</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
            </tr>
        }
    </tbody>
</table>
