@* 指定model資料型態為list<ShoppingCarts.Models.RouteTest.TempProducts> *@
@model List<ShoppingCarts.Models.RouteTest.TempProducts>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>商品列表</h2>

<table class="table">
    <thead>
        <tr>
            <td>編號</td>
            <td>名稱</td>
            <td>售價</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var product in this.Model)
        {
            <tr>
                <td>@product.ID</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
            </tr>
        }
    </tbody>
</table>
